.MainNavigation{
    position: fixed;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    background-color:#4918c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        font-size: 1.5rem;
    }

    .NavigationItems{
        margin: 0 0 0 1.5rem;

        ul{
            display: flex;

            li{
                margin: 0 1rem;
            }
            a{
                cursor: pointer;
                color: black;
                border-bottom: 4px solid transparent;
                transition: border-color 0.5s;
                &:active , &:hover , &.active{
                    border-color: rgb(231, 231, 108);
                    color: rgb(231, 231, 108);   
                }
            }
        }
    }
}